<br>
<br>
<section id="last" class="no-padding">
            <div class="row">
                <div id='oneHeader' class="col-lg-8 col-lg-offset-2 text-center ">
            <h3>ABOUT</h3><br>
                <h1 class="cursive">Nice2Know</h1>
                <hr>
          

           
                <br>
                <br>
                <br>
                <br>
              <p>
                Welcome  {{#if logged_in}}{{username}}{{/if}}! <br> We are a team of developers who created an app tailored to giving our users (like you!) awesome facts and informative knowledge straight to your mobile device. Today, knowledge and enlightenment on various subjects is key to being ahead in this game of life! We saw this first hand and thought lets give people this information on the daily and so that they wouldn't even have to be at a computer or have to put in the additional searching to do so. By <a href="/users/new">signing up</a> for our site and then selecting categories of your personal interest, we easily send you texts daily of your favorite topics. 
<br>
                thank you, <br>
                nice2know team.

                </p>

            

            </div>
        </div>
</section>