<div id='userForm'>
<br>
<br>
<br>
<div class="login-form-main-message"></div>    
<form class='create-update-form ' action="/users/create" method="post">
<div class="text-center" style="padding:150px" >
<p><h3>Welcome to the sign-up page! Log your info so we know where to send you awesome facts throughout the day!! </h3></p>
      <div class="main-login-form">
          <div class="form-group">
            <label for="reg_username" class="sr-only">Email address</label>
            <input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="username">
          </div>
          <div class="form-group">
            <label for="reg_password" class="sr-only">Password</label>
            <input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password">
          </div>
          <div class="form-group">
            <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
            <input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">
          </div>
          <div class="form-group">
            <label for="country_code" class="sr-only">Country Code</label>
            <input type="text" class="form-control" id="country_code" name="country_code" placeholder="country code">
          </div>
          <div class="form-group">
            <label for="mobile_phone" class="sr-only">Mobile Phone</label>
            <input type="text" class="form-control" id="mobile_phone" name="mobile_phone" placeholder="mobile phone">
          </div>
          <div class="form-group login-group-checkbox">
            <input type="checkbox" class="" id="reg_agree" name="reg_agree">
            <label for="reg_agree">I agree with <a href="#">terms</a></label>
          </div>
        </div>
          <button type="submit">Sign-up!</button>
      </div>
    </form>
</div>
</div>