<br>
<br>
<br>
<br>

<!-- //begin register page for users who do not have accounts on the server -->

  <h1>Welcome to Nice2Know</h1>
  <h2>All Facts on your favorite topic at your fingertips</h2>
  <p>Please take a look at all topics of interest</p>

  <form class='create-update-form' action="/user/create"method="post"><br />

			<h3>To subscribe to categories & get text messages about your favorite topic, enter your mobile phone number:</h3>
			<label>Name:<br /><input type="text" name="name" /></label><br />
			<label>Email:<br /><input type="text" name="email" /></label><br />
			<label>Countrycode:<br /><input type="text" name="countrycode" /></label><br />
			<label>Mobile:<br /><input type="text" name="mobile" /></label><br />
			<label>Favorite Fact Topic:<br /></label>
			<select name="devices">
				<option value="sports">Sports</option>
				<option value="history">History</option>
				<option value="technology">Technology</option>
				<option value="science">Science</option>
				<option value="funandleisure">Fun and Leisure</option>
				<option value="society">Society</option>
			</select><br>
			<input type="submit" name="subscribe" value="Subscribe" />
  </form>

	</form>

	<form action="subscribe to text messages">
