<br>
<br>
<br>

<form class="create-update-form" action="/users/create" method="POST">

  <div class="form-group">
    <label for="uname">Username: </label>
    <input type="text" id="uname" name="username" placeholder="Jimmy Lado">
  </div>

  <div class="form-group">
    <label for="em">Email: </label>
    <input type="email" id="e-mail" name="email" placeholder="jlado@ssr.gov">
  </div>

  <div class="form-group">
    <label for="phone">Mobile Phone: </label>
    <input type="text" id="mobile-phone" name="phone" placeholder="651-324-5488">
  </div>

  <div class="form-group">
    <label for="country">Country Code: </label>
    <input type="text" id="country-code" name="countrycode">
  </div>

  <div class="form-group">
    <label for="pass">Password: </label>
    <input type="password" id="pass" name="password">
  </div>

  <button type="submit">Sign Up!</button>
</form>

<br>
<br><br>
